.register {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.formBox {
  width: 40%;
  height: 80vh;
  margin-top: 5%;
  background-color: hwb(0 100% 0% / 0.765);
  border-radius: 150px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.formBox form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translate(+20%);
}

.formBox input {
  height: 5%;
  margin-top: 0;
  margin-bottom: 20px;
}
.formBox input[type='submit'] {
  margin-top: 20px;
}
.formBox input:focus {
  outline-style: none;
}

.onRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  min-width: 300px;
  height: 15vh;
  background-color: hwb(0 100% 0% / 0.765);
  border-radius: 25px;
  transform: translateY(200%);
  box-shadow: 10px 20px 80px #4c8665;
}

.onRegister p {
  font-size: 1.5rem;
}

@media only screen and (max-height: 850px) and (max-width: 1440px) {
  .formBox {
    width: 90%;
    max-width: 500px;
    height: 78vh;
    border-radius: 100px 25px;
    margin-top: 2%;
  }
  .formBox input[type='submit'] {
    font-size: calc(0.5rem + 0.5vmin);
  }
}

@media only screen and (max-width: 1024px) {
  .formBox {
    width: 90%;
    max-width: 600px;
    height: 75vh;
    border-radius: 100px 25px;
  }

  .formBox input[type='submit'] {
    font-size: calc(0.5rem + 0.5vmin);
  }
}
