.Dashboard {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Dashboard h1 {
  /*font-size: calc(1.5rem + 2vmin);*/
  margin: 3rem;
}

.DashboardHeader {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Dashboard .body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}
.Dashboard .body .DashboardlPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  height: 80vh;
  border-radius: 50px;
  overflow-y: scroll;
}

.Dashboard .body .DashboardlPanel::-webkit-scrollbar {
  display: none;
}

.Dashboard .body .aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 25%;
  height: 80vh;
}
.Dashboard .body .aside .Menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30vh;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

.Dashboard .body .aside .informations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60%;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

.informations .infoContent {
  width: 80%;
  height: 80%;
  border-radius: 50px;
  box-shadow: 10px 15px 20px #4c866581;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.title {
  width: 100%;
  font-size: calc(0.5rem + 1vmin);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}
.maProduction {
  width: 200px;
  margin: 0 10px;
}
.mesPropositions {
  margin: 0 10px;
  width: 75%;
}

@media only screen and (max-width: 1024px) {
  .Dashboard {
    justify-content: flex-start;
  }
  .Dashboard h1 {
    margin: 15px;
  }
  .Dashboard .body {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .Dashboard .body .aside {
    flex-direction: row;
    width: 90%;
    height: 50%;
  }
  .Dashboard .body h2 {
    font-size: 1rem;
  }
  .Dashboard .body .aside .informations,
  .Dashboard .body .aside .Menu {
    width: 45%;
    height: 90%;
  }
  .Dashboard .body .aside .Menu .menuButton {
    font-size: 0.6rem;
  }
  .informations .infoContent {
    height: 70%;
    font-size: 1rem;
  }
  .Dashboard .body .DashboardlPanel {
    width: 90%;
    height: 40%;
  }
}
