.popupBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #00000050;
  z-index: 10;
}

.popupAddProduct {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  height: 70vh;
  background-color: white;
  border-radius: 50px;
}
.popupAddProduct .errorMessage {
  position: absolute;
  transform: translateY(400%);
  margin: 0;
}
.allProducts {
  width: 90%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  border: solid 1px black;
  border-radius: 25px;
}

.allProducts .Vegetable {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.allProducts .Vegetable img {
  width: 30px;
  height: 30px;
}
/*.allProducts .Vegetable p {
  text-align: center;
  margin: 0;
}*/

.description {
  width: 90%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.description label {
  font-size: 1.2rem;
}
.description .menuButton {
  width: 30%;
  font-size: 1.2rem;
  font-family: 'Cairo', sans-serif;
  background-color: #a6fcca;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
/*.description .menuButton:disabled {
  opacity: 0.5
}*/

.description textarea:focus {
  outline: none;
}

@media only screen and (max-width: 1024px) {
  .popupAddProduct {
    max-width: 400px;
  }
  .Dashboard .popupAddProduct h1 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .allProducts {
    justify-content: center;
  }
  .allProducts .Vegetable {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .allProducts .Vegetable p {
    font-size: 0.7rem;
  }

  .allProducts .Vegetable img {
    width: 20px;
    height: 20px;
  }
  .textaera {
    width: 90%;
  }
  .popupAddProduct .menuButton {
    margin-top: 10px;
    height: 40px;
  }
}
