.popupTrade {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.popupTrade form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 5px 10px;
}

.popupTrade form input {
  width: 20%;
  height: 50px;
  outline-style: none;
}
.popupTrade form input:valid {
  border: solid 2px #a6fcca;
}

.popupTrade .tradeBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.popupTrade .results {
  width: 90%;
  height: 35%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 60px;
  border: solid 1px black;
  border-radius: 25px;
  overflow-x: scroll;
}

.popupTrade .results h2 {
  position: absolute;
  transform: translateY(-130%);
}

.results .Vegetable {
  position: static;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.results .Vegetable img {
  width: 30px;
  height: 30px;
}
.results .Vegetable p {
  text-align: center;
  margin: 0;
}

.popupTrade .results .productInfos {
  position: absolute;
  z-index: 100;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(50%, 60%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
  border-radius: 50px;
  background-color: #ffffff;
}

.popupTrade .menuButton {
  width: 30%;
  height: 50px;
  margin: 15px 0;
  font-size: 1.2rem;
  font-family: 'Cairo', sans-serif;
  background-color: #a6fcca;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.popupTrade .menuButton:hover {
  opacity: 0.8;
}

.popupTrade .menuButton:disabled {
  opacity: 0.5;
}
