.App {
  color: #434343;
  align-items: center;
  /*background-color: #74c999;*/
  font-family: 'Cairo', sans-serif;
  background: #1d976c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93f9b9,
    #1d976c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93f9b9,
    #1d976c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-family: 'Mochiy Pop One', sans-serif;
}
label {
  font-size: 1.2rem;
}

@media only screen and (max-width: 1024px) {
  .App h1 {
    font-size: calc(1.2rem + 1vmin);
  }

  label {
    font-size: calc(0.5rem + 0.5vmin);
  }
}
