.register{
    min-height: 100vh;
    text-align: center;
    background-color: #74c999;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #434343;
}

.formBox{
    width: 50%;
    height: 70vh;
    margin-top: 10%;
    background-color: hwb(0 100% 0% / 0.765);
    border-radius: 200px 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.formBox form{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translate(+25%);
}

.formBox input {
    height: 5%;
}

.formBox input:focus{
    outline-style: none;
}

